.charts-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    width: 100%;
    
}
.stats-page{
    max-width: 100vw;
}
.stats-page h1{
    padding-top: 30px;
}
@media screen and (max-width:750px){
    .charts-container{
        flex-direction: column;
        gap: 50px;
    }
}